@font-face {
    font-family: peace-sans;
    src: url(/fonts/Peace\ Sans.otf);
}

body {
    font-family: 'Open Sans';
    color: white;
    background-color: #6F5C5C;
}

h1, h2 {
    text-transform: uppercase;
    font-family: 'peace-sans';
}

.navbar {
    height: 4rem;
    background-color: #6F5C5C;
    border: none;
    color: white;
}

.navbar-brand {
    color: white;
    text-transform: uppercase;
    font-family: 'peace-sans';
}

.nav-link {
    color: white;
    font-family: 'Open Sans';
}

.navbar-toggler {
    border: none;
}
 
.navbar-toggler-icon {
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4rem);
    background-color: #6F5C5C;
    color: white;
}

.hero h1 {
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 50rem;
}

.about, .portfolio, .contact {
    padding: 1rem 5rem;
}

.contact .container {
    text-align: center;
}

.contact .container a {
    color: white;
}


/*
.portfolio {
    position: relative;
    background: #6F5C5C;
    box-sizing: border-box;
    height: 50rem;
    width: 100vw;
    outline: 0;
    overflow: hidden;
}

.portfolio::before {
    content: "";
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portfolio::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 40%;
    animation: spin 6s linear;
}

@keyframes spin {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(100%) rotate(360deg);
    }
  }*/