@font-face {
    font-family: peace-sans;
    src: url(./fonts/Peace\ Sans.otf);
}

@font-face {
    font-family: avant-garde;
    src: url(./fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf);
}

.hide {
    display: none;
}

body {
    font-family: 'avant-garde';
    color: white;
    background-color: #46443E;
}

h1, h2, h5 {
    text-transform: uppercase;
    font-family: 'peace-sans';
}

.navbar-brand:hover, .nav-link:hover {
    text-decoration: underline;
    color: white;
}

.navbar {
    height: 4rem;
    background-color: #46443E;
    border: none;
    color: white;   
}

.navbar-brand {
    color: white;
    text-transform: uppercase;
    font-family: 'peace-sans';
}

.nav-link {
    color: white;
    font-family: 'avant-garde';
    transition: all 0.5s ease-in-out;
}

.scale {
    transition: all 0.5s ease-in-out;
}

.scale:hover {
    color: white;
    transform: scale(1.5);
}

.navbar-toggler {
    border: none;
}
 
.navbar-toggler i {
    color: white;
}

.mobile-menu {
    text-align: center;
    background-color: #46443E;
    margin-top: 4rem;
    position: fixed;
    padding: 4rem 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.hero h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    max-width: 70rem;
}

.about, .portfolio, .contact {
    padding: 4rem 1rem;
}

.about a {
    color: white;
}

.portfolio h2 {
    padding-bottom: 3rem;
    text-align: center;
}

.portfolio .project {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4rem;
}

.portfolio .project a {
    color: white;
}

.contact {
    padding-bottom: 2rem;
}

.contact .container {
    text-align: center;
}

.contact .container a {
    color: white;
    padding: 0 2rem;
}