/* Tablet */
@media (min-width: 500px) {
    .navbar-brand {
        font-size: 2rem;
    }

    .navbar-toggler {
        font-size: 2rem;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    .hero h1 {
        font-size: 3rem;
        padding-left: 1rem;
    }

    .contact .container a {
        padding: 0 4rem;
    }
  } 